xml/definicoes.dtd

<!ELEMENT cardapio (prato+)>
<!ELEMENT prato (nome, descricao, ingredientes+, preco, calorias, tempo_preparo)>
<!ATTLIST prato  id CDATA #REQUIRED>
<!ELEMENT nome (#PCDATA)>
<!ELEMENT descricao (#PCDATA)>
<!ELEMENT ingrediente (ingrediente+)>
<!ELEMENT ingredientes (#PCDATA)>
<!ELEMENT preco (#PCDATA)>
<!ATTLIST preco moeda (BRL | USD) "BRL">
<!ELEMENT calorias (#PCDATA)>
<!ELEMENT tempo_preparo (#PCDATA)>
<!ENTITY reais "R$">
